body{
  background-color: purple;
  font-family: arial;
  font-size: 25px;
}
.container{
  background-color: white;
  margin: 50px;
  padding: 30px;
  width: 500px;
  border-radius: 5px;
}
#button{
  background-color: lightgray;
  color: gray;
border-radius: 5px;
font-size: 18px;
}
input{
  border-radius: 5px;
}
h1{
  color: white;
}
